*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
section{
    padding-top: 80px;
}
.btn:hover{
    transition: .20s ease-in;
}
.nav-link:hover{
    transition: .20s ease-in;
    color: white;
}
.navbar__tickets{
    color:#ffc700;
}
.navbar__tickets:hover{
    color:#f7f12a;
    text-shadow: 1px 0px #face2d;
    transition: .20s ease-in;
}
#place__description{
    background-color: #212529;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffc700;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(250, 214, 12, 0.25);
}
@media screen and (max-width: 992px) {
    #place__description{
        border: none!important;
    }
    .w-50{
        width:100%!important;
    }
}
  