* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding-top: 80px;
}

.btn:hover {
    transition: .20s ease-in;
}

.nav-link:hover {
    transition: .20s ease-in;
    color: white;
}

.navbar__tickets {
    color: #ffc700;
}

.navbar__tickets:hover {
    color: #f7f12a;
    text-shadow: 1px 0px #face2d;
    transition: .20s ease-in;
}

.carrousel {
    padding-top: 60px;
}

/* .carousel-item img{
    background: rgba(0, 0, 0, 0.35);
} */
.carousel-item:before {
    content: ' ';
    display: block;
    background-color: #212529;
    opacity: 0.60;
    width: 100%;
    height: 100%;
    position: absolute;
}

 .carousel-caption {
    text-align: right;
    right: 10%;
    left: 40%;
    bottom: 25%;
} 

.card{
    width: 18rem;
}

#place__description {
    background-color: #212529;
    font-size: 14px;
}

.img-fluid{
    height: 100%;
}
.text-fluid{
    max-width: 100%;
    height: auto;
}

.ignite-speak{
    position:relative;
    text-decoration: dashed underline;
}

.tooltiptext {
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    visibility: hidden;
    width: 120px;
    background-color: #212529;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
  }

.ignite-speak:hover .tooltiptext{
    visibility: visible;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffc700;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(250, 214, 12, 0.25);
}

footer {
    /* background-color: rgb(28,61,80); */
    background-color: #212529;
    color: #ffffff8c;

}

footer ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    list-style: none;

}

@media screen and (max-width: 576px) {
    .carousel {
        margin-top: 10px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 10%;
    }

    .carousel-caption {
        font-size: 12px;
        text-align: center;
        left: 10%;
        right: 10%;
        bottom: 2%;
        line-height: 1;

    }

    .carousel-caption .btn {
        font-size: 12px;
        padding: 3px 6px;
        line-height: 0.8;
    }

    .carousel-indicators {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 768px) {

    .carousel-caption {
        text-align: center;
        left: 10%;
        right: 10%;
        bottom: 10%;
        /* line-height: 1; */

    }


    #place__description {
        border: none !important;
    }

    .w-50 {
        width: 100% !important;
    }
}